M3u8 file not seekable

I have an .m3u8 file with https links to .ts fragents that I load into a qml VlcPlayer component.

The video plays just fine. The only very annoying problem is that seeking works once every 10 times during playback.

I tried using both the position and time property. To be clear the file in question is seekable under Vlc **every single time**. Here is a piece of log during seeking from VLC and from Qt creator respectively:

**VLC**
```
adaptive debug: Retrieving https://*********.***/videos/34df4573762565bb06c4595212236279/hls1/main/2.ts?&MediaSourceId=34df4573762565bb06c4595212236279&api_key=40703e874a98483c877da0850deb1997&AudioStreamIndex=1&PlaySessionId=6f08a1647e924c359284c6dbdae9b74f @0
main debug: looking for tls client module matching "any": 1 candidates
gnutls debug: using GnuTLS version 3.5.19
gnutls debug: loaded 78 trusted CAs from system
main debug: using tls client module "gnutls"
main debug: resolving fankai.fr ...
gnutls debug: TLS handshake: Resource temporarily unavailable, try again.
gnutls debug: TLS handshake: Resource temporarily unavailable, try again.
gnutls debug: TLS handshake: Success.
gnutls debug:  - safe renegotiation (RFC5746) enabled
gnutls debug:  - extended master secret (RFC7627) enabled
gnutls debug:  - false start (RFC7918) enabled
adaptive debug: demuxer 0000019fde9ab480, fakeesout restarting 0, discontinuity 0, commandsqueue draining 0, commandsqueue eof 0
adaptive debug: demuxer 0000019fde9ab480, fakeesout restarting 0, discontinuity 0, commandsqueue draining 0, commandsqueue eof 0
mmdevice debug: state changed: 0
wasapi debug: reset
main debug: removing module "ts"
adaptive debug: Retrieving https://*********.***/videos/34df4573762565bb06c4595212236279/hls1/main/251.ts?&MediaSourceId=34df4573762565bb06c4595212236279&api_key=40703e874a98483c877da0850deb1997&AudioStreamIndex=1&PlaySessionId=6f08a1647e924c359284c6dbdae9b74f @0
main debug: looking for tls client module matching "any": 1 candidates
gnutls debug: using GnuTLS version 3.5.19
gnutls debug: loaded 78 trusted CAs from system
main debug: using tls client module "gnutls"
```



**Qt Creator**
```
qml: Seeking triggered
adaptive demux debug: Retrieving https://*********.***:443/videos/34df4573762565bb06c4595212236279/hls1/main/6.ts?&MediaSourceId=34df4573762565bb06c4595212236279&api_key=40703e874a98483c877da0850deb1997&AudioStreamIndex=1&PlaySessionId=281e416be75048ab9b697fa06f03d700 @0
main tls client debug: looking for tls client module matching "any": 2 candidates
gnutls tls client debug: using GnuTLS version 3.5.19
gnutls tls client debug: loaded 78 trusted CAs from system
main tls client debug: using tls client module "gnutls"
main tls client debug: resolving fankai.fr ...
gnutls tls client debug: TLS handshake: Resource temporarily unavailable, try again.
gnutls tls client debug: TLS handshake: Resource temporarily unavailable, try again.
gnutls tls client debug: TLS handshake: Success.
gnutls tls client debug:  - safe renegotiation (RFC5746) enabled
gnutls tls client debug:  - extended master secret (RFC7627) enabled
gnutls tls client debug:  - false start (RFC7918) enabled
adaptive demux debug: Retrieving https://*********.***:443/videos/34df4573762565bb06c4595212236279/hls1/main/7.ts?&MediaSourceId=34df4573762565bb06c4595212236279&api_key=40703e874a98483c877da0850deb1997&AudioStreamIndex=1&PlaySessionId=281e416be75048ab9b697fa06f03d700 @0
main tls client debug: looking for tls client module matching "any": 2 candidates
gnutls tls client debug: using GnuTLS version 3.5.19
gnutls tls client debug: loaded 78 trusted CAs from system
main tls client debug: using tls client module "gnutls"
```

**About my setup**
I compiled VLC-Qt using 64bit MinGW and against 64bit VLC 3.0.11 lib files. As I said, everything else works fine.

Thank you for your time and your work.

My bad ! The slider value is changed at every time/position of the VlcPlayer so by the time i get the new seek value it has already been updated due to the VlcPlayer signal. 

**Here is the problematic code:**
```
onValueChanged: {
                // the seekSlider.value changed from here...
                if (pressed) {
                    // ... to here
                    var newTime = seekSlider.value; 
                    mediaPlayer.time = newTime;
                }
            }
```

**Here is the fix:**
```
onValueChanged: {
                var newTime = seekSlider.value; 
                if (pressed) {
                    mediaPlayer.time = newTime;
                }
            }
```